# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Temporary files
*.tmp
.DS_Store

# PyCharm cache
.idea/
*.iml

# Byte-compiled / cache
*.pyc
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
eggs/

# MySQL
*.sql

